@charset "UTF-8";
@import "dialog";

body{position:relative;}
$imgurl: '../../img/wx/laikan';
/*fixed*/

.chapterlist_mod {
	padding: 0;
	position: relative;
	overflow: hidden;
	ul{
		overflow: hidden;
	}
	h2 {
		margin: 0;
		padding:20px 0 15px 15px;
		font-size: 16px;
		color: #666;
		font-weight: 700;border-bottom:solid 1px #e6e6e6;
	}
	li {
		position: relative;
		font-size: 14px;padding:15px 60px 15px 0;margin:0 15px;
		border-bottom:solid 1px #e6e6e6;
		a {
			display: block;
			color: #666;
		}
	}
}

.chapterlist_mod li .chapter-tag{
	position: absolute;
	top:16px;right:0px;
	width:75px;height:20px;line-height:16px;text-align:right;
	span{
		border-radius:3px;font-size:12px;
		display:inline-block;padding:0 2px;
		height:20px;line-height:16px;
		&.free{
			color:#ff4c2f;border:solid 1px #ff4c2f;margin-left:10px;
		}
	}
}
.chapterlist_mod li.on .chapter-tag{
	right:15px;
}
.chapterlist_mod li.on{
	margin:0px;padding:15px 60px 15px 15px;background: #fff;
	a{
		color:#10c1ae;
	}
}

.chapter-cont {
	overflow: hidden
}

.beforesend {
	padding: 200px 0 100px;
	text-align: center
}

.search_more {
	background: #fff;
	padding: 8px 0;
	border-bottom: solid 1px #ddd;
	font-size: 14px;
	width: 100%;
	display: none;
	text-align: center
}

.txtbox-item h3 {
	text-align: left;
	padding: 1.5rem;font-weight:bold;
	font-size: 1.7rem;display:-moz-box;display:-webkit-box;display:box;
}
.txtbox-item h3 p.l{padding-right:2rem;}
.txtbox-item h3 p.r{-moz-box-flex: 1.0;-webkit-box-flex: 1.0;box-flex: 1.0;}

.txtbox-item h3 a {
	display: inline-block;
	width: 25px;
	margin-left: 1.5rem
}

.txtbox-item h3 img {
	vertical-align: middle;
	width: 14px
}

.demo {
	word-wrap: break-word
}

.intro {
	font-size: 1.6rem;
	line-height: 2.88rem
}

.intro div {
	padding: 0 1.5rem 1rem;
}

.demo .chapter-b {
	text-align: right;
}
.demo .font-nav{
	display: inline-block;
	margin: 1rem 1rem .5rem;
}

.demo .font-change a {
	width: 3.2rem;
	padding: 2px 0;
	display: inline-block;
	margin-right: 5px;
	border-radius: 3px;
	text-align: center
}

.demo .font-change img {
	width: 20px;
	vertical-align: middle
}

.demo .font-nav {
}

.demo .font-nav a {
	color: #999;
	border: 1px solid #10c1ae;
}

.demo p {
	color: #5e5e5e;
	line-height: 32px;
	margin: 0
}

.alert-c {
	padding: .7rem 0 0;
	margin: 0 1.5rem!important;
	border: 0;
	position: relative;
	font-size: 1.4rem;
	font-style: italic
}

.alert-c span {
	display: block;
	line-height: 2rem
}


.chapter-mod-list {
	display:-webkit-box;
	display:-moz-box;
	display:box;
	overflow: hidden;
}

.chapter-mod-list li {
	// display: block;
	// float: left;
	// width: 25%;
	-webkit-box-flex:1.0;
	-moz-box-flex:1.0;
	box-flex:1.0;
}

.chapter-mod-list li a {
	display: block;
	margin: 0 auto;
	width: 90%;
	line-height: 2.6rem;
	text-align: center;
	border-radius: 3px;
	font-size: 1.4rem
}

.chapter-time {
	font-size: 1.4rem;
	padding: 0 1.5rem 2rem;
	margin-bottom: 10px;
	color: #999;
	font-weight:bold;
	overflow: hidden;
	border-bottom:solid 1px #e5e5e5;
	color:#999;
}
.chapter-time a{color:#10c1ae;display:inline-block;padding-left:1rem}

.chapter-buy {
	font-size: 1.4rem;
	padding: 3rem 0 8.5rem;
	margin: 5rem 1.5rem 0;
	border-bottom: solid 1px #10c1ae;
	text-align: center;
	overflow: hidden;
	h1{
		margin-bottom: 44px;
		color: #565656;
		font-size: 20px;
	}
}

.chapter-buy-ul {
	width: 100%;
	margin: 0rem 0 1rem;
	overflow: hidden;
}

.chapter-buy-ul li {
	position: relative;
	margin: 15px auto 0;
	width: 145px;
	text-align: center;
	height: 3.2rem;
	border: 1px solid #10c1ae;
	border-radius: 3px;
	a{
		position: absolute;
		width: 100%;
		left: 50%;
		top: 50%;
		color: #10c1ae;
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}
	&:last-child{
		background: #10c1ae;
		a{
			color: #fff;
		}
	}
	&.monthPrice{
		padding: 2rem 0;
  		span{
			display: block;
			color: #fff8ac;
			font-size: 1.2rem;
		}
	}
}


.chapter-buy-p {
	line-height: 2.2rem;
	color: #999;
	font-size: 1.4rem;
	.paritiesSpan {
		font-style: normal;
	}
	.redprice {
		font-style: normal;
		color: #999;
	}
	.pred {
		color: #ee5048;
	}

}

.chapter-auto {
	position: relative;
	margin-top: 35px;
	clear:both;
	color: #999;
	span {
		background: url(../../img/wx/laikan/chapterAutoBuy_bgNew.png) 0 2px no-repeat;
		background-size:14px 41px;
		top:2px;
		margin-right:5px;
		width:14px;
		line-height: 1.6rem;
	}
	span.on {
		background-position: 0 -25px;
	}
	input.checkbox {
		border: none;
		opacity: 0;
		line-height: auto;
		width: 1.6rem;
		height: 1.6rem
	}
}





.chapter-note {
	color: #999;
	margin-bottom: 3rem;
	line-height: 2rem
}
/*app down*/
.chapter-app-down{
	margin:0 0 2rem;
	padding-bottom:2rem;
	font-size:1.4rem;
	line-height:2.0rem;
	.chapter-app-text{
		margin-bottom:1.5rem;
		padding:1.5rem;
		display: -moz-box;
		display: -webkit-box;
		display: box;
		background:#f6f6f6;
		color:#333;
		.l{
			-moz-box-flex: 1.0;
			-webkit-box-flex: 1.0;
			box-flex: 1.0;
		}
		.r{
			margin:8px 0 0 1.5rem;
			display:block;
			width:60px;
			height:32px;
			line-height:32px;
			color:#fff;
			text-align:center;
			background:#ff554f;
			border-radius: 16px;
		}
	}
	a{
		display:block;
		margin:0 1.5rem;
		background:#10c1ae;
		border:solid 1px #10c1ae;
		border-radius:3px;
		color:#fff;
		line-height:2.6rem;
		text-align:center;
	}
}
/*添加微信推广css*/
.chapter_spread{margin:2rem 1.5rem 1rem;font-size:1.4rem;border-radius:5px;overflow:hidden}.chapter_spread ul{overflow:hidden}
.chapter_spread li{line-height:1.8rem;padding-bottom:1.5rem;}
.chapter_spread li a{display:block;display:-moz-box;display:-webkit-box;display:box;color:#333;}
.chapter_spread li a span{display:block}
.chapter_spread li a span.l{padding-right:1.5rem}
.chapter_spread li a span.l img{width:100px;height:70px;vertical-align: middle;border-radius:5px;}
.chapter_spread li a span.r{-moz-box-flex:1.0;-webkit-box-flex:1.0;box-flex:1.0;height:5.4rem;overflow:hidden;}
.chapter_spread{
	li{
		a{

			p{
				-moz-box-flex:1.0;
				-webkit-box-flex:1.0;
				box-flex:1.0;
				overflow:hidden;
				.top{
					height:3.6rem;
					overflow: hidden;
				}
				.bottom{
					position:relative;
					padding-top:0.5rem;
					overflow:hidden;
					.title{
						float:left;
						display:block;
						color:#10c1ae;
						font-weight:normal;
					}
					.time{
						position:absolute;
						top:0.5rem;
						right:0;
						display:block;
						font-size:1.2rem;
						font-weight:normal;
						color:#999;
					}
				}
			}

		}
		&:last-child{
			p{
				padding-bottom:0 !important;
				border-bottom:none !important;
			}
		}
	}
}

.borNone{
	padding-bottom:0 !important;
	border-bottom:none !important;
}
.chapter-collect{
	float:left;
	margin:1rem 0rem .5rem 1.5rem;
	a{
		padding:2px 8px 3px;
		display: inline-block;
		border-radius: 3px;
		color:#10c1ae;
		border: 1px solid #10c1ae;
		&.collect_save{
			padding:5px 15px;
			font-size: 16px;
			width:6.4rem;
			text-align:center;
		}
	}
}


.first_div{border-bottom:solid 1px #ddd}
.first_div a{margin:1rem;display:block;position:relative}
.first_div img{display:block;width:100%}
.first_div a span{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;background:#333;position:absolute;bottom:0;left:0;opacity:.7;width:100%;height:34px;line-height:34px;color:#fff;font-size:14px;font-weight:bold;}
.chapter_spread li:last-child{border:0}
.chapter_ma{margin:17px 15px 5px;padding:0 0 10px;border:solid 1px #10c1ae !important;text-align:center;position:relative;font-size:14px}
.chapter_ma img{width:90%;max-width:260px;}
.chapter_ma p{margin-top:15px}
/*.chapter_ma span{display:block;position:absolute;width:220px;top:-1.3rem;left:50%;margin-left:-110px}*/
.chapter_ma span{display:block;text-align:center;font-size:14px;padding:1rem;background: none !important;}
.chapter-shelf{color:#10c1ae;font-size:1.4rem;text-align:center;}.chapter-shelf a{color:#10c1ae;}
a.addDone{color:#999}
/*chapter menu*/
.chapter-menu-top{position:fixed;top:0;left:0;z-index:999;height:44px;background:#000;opacity:0;width:100%;
	/*overflow:hidden;*/
	-webkit-transition: all .2s;
	transition: all .2s;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}
.chapter-menu-top.show{
	opacity: .7;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.chapter-menu-top li{float:right;padding-top:6px;}.chapter-menu-top li img{width:30px;}.chapter-menu-top li.l{float:left;padding-left:15px}
.chapter-menu-top li.pd{padding-right:15px}.chapter-menu-top li a{display:block;}.chapter-menu-top li.mg{padding:6px 10px 0;}
.chapter-menu-top li.pd {
	.popOver.down{
		right: 5px;
		top: 58px;
	}
}

.chapter-menu li.nightStatus a{
  color:#10c1ae;
}


.chapter-menu-bottom{position:fixed;bottom:0;left:0;z-index:999;background:#000;opacity:0;width:100%;height:64px;
	-webkit-transition: all .2s;
	transition: all .2s;
	-webkit-transform: translateY(100%);
}
.chapter-menu-bottom.show{
	opacity: .7;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.chapter-menu-bottom ul{width:100%;}
.chapter-menu-bottom li{
	position: relative;width:20%;float:left;font-size:12px;padding-top:5px;text-align:center; height: 64px;}
.chapter-menu-bottom li a{display:block;color:#fff}.chapter-menu-bottom li img{vertical-align: middle;width:25px;padding-bottom:5px;}
.chapter-menu-bottom li a span{display:block;}
.chapter-menu-bottom li.chapterFontSize{background:url(../../img/wx/laikan/chapter-menu_font_v2.png) center 8px no-repeat;background-size:20px 20px;padding-top:40px !important;}
.chapter-menu-bottom li.chapterFontSize-on{background:url(../../img/wx/laikan/chapter-menu_font_v2on_new.png) center 8px no-repeat;background-size:20px 20px;color:#10c1ae;padding-top:40px !important;}
.chapter-menu-bottom li.chapterFontSize-on a{color:#10c1ae}

.popOver{
	position: absolute;
	z-index: 1;
	width:150px;
	padding:0;
	background: rgba(0, 0, 0, 1);
}
.popOver::before{
	content: '';
	position: absolute;
	/*right:17px;*/
	left:50%;
	margin-left:-12px;
	border: 10px solid #000;
	border-top: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

.popOver.up{
	width:120px; height: 47px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.popOver.up::before{
	left: 50%;
	bottom: -10px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.popOver.down::before{
	top: -10px;
	margin-left:40px;
}

.popOver ul{width:100%;overflow:hidden;}.popOver ul li{float:left;width:50%;text-align:center;padding:7px 0;}.popOver ul li img{width:25px;}

.chapterAuto{padding:15px 10px 15px 40px;color:#fff;font-size:14px;background:url(../../img/wx/laikan/check.png) 15px 16px no-repeat;background-size:16px 16px;overflow:hidden;}
.chapterAuto.on{background:url(../../img/wx/laikan/checkon.png) 15px 16px no-repeat;background-size:16px 16px;}

.chapter-menu-bottom .popOver{
	top: -61px;
}


#chapterMenuTop{
	right: 5px;
	top: 58px;
}

.chapter-mod-list li a {
	color: #10c1ae;
	border: 1px solid #10c1ae
}
.chapter-lead-bg{position:absolute;top:0;left:0;width:100%;height:100%;background:#333;opacity:.7;display:none;}
.chapter_ma_tit{font-size:16px;border-bottom:solid 1px #e5e5e5;padding-bottom:10px;margin:0 15px;}
.chapter-lead{position:fixed;top:0;left:0;width:100%;height:100%;display:none;}
.chapter-lead-bottom{position:fixed;bottom:0;left:0;width:100%;display:none;}
.chapter-lead-top{position:fixed;background:#333;opacity:.7;top:0;left:0;width:100%;display:none;}
.chapter-lead-top img,.chapter-lead img,.chapter-lead-bottom img{width:100%;display:block;}
.chapter-spread-ma{
	margin:1.5rem;
	padding:1.5rem 0;
	display:-webkit-box;
	display:-moz-box;
	display:box;
	border-top:solid 1px #999;
	border-bottom:solid 1px #999;
	color:#999;
	overflow:hidden;
	.ma-left-mod{
		margin-right:1.5rem;
		text-align: center;
		img{
			width:120px;
		}
		p{
			font-size:1.4rem;
			line-height:2rem;
			color:#999;
			text-align:center;
		}
	}
	.ma-right-mod{
		padding-top:1.5rem;
		-webkit-box-flex:1.0;
		-moz-box-flex:1.0;
		box-flex:1.0;
		font-size:1.4rem;
		p{
			line-height:2rem;
			color:#999;
		}
	}
}
.chapter-spread-logo{
	display: -webkit-box;
	display: -moz-box;
	display: box;
	height:68px;
	background:#10c1ae;
	border-bottom:solid 1px #ddd;
	.left-mod{
		-webkit-box-flex:1.0;
		-moz-box-flex:1.0;
		box-flex:1.0;
		color:#fff;
		dl a{
			display: -webkit-box;
			display: -moz-box;
			display: box;
			font-size:12px;
			dt img{
				margin:14px 10px 0 15px;
				display:block;
				width:40px;
			}
			dd{
				-webkit-box-flex:1.0;
				-moz-box-flex:1.0;
				box-flex:1.0;
				p{
					margin:16px 15px 0 0;
					float:left;
					color:#fff;
					b{
						font-size:14px;
						font-weight: normal;
					}
				}
				span{
					margin-top:24px;
					padding:0 8px;
					display:inline-block;
					height:22px;
					background:#fff;
					border-radius:3px;
					line-height:22px;
					color:#10c1ae;
				}
			}

		}
	}
	.right-mod{
		padding:0 12px;
		background:#5bc9ee;
		a{
			display:block;
			margin-top:14px;
			img{
				width:40px;
				border-radius:50%;
				display:block;
			}
		}
	}
}


.day-status,.day-new-status {
	background: url(../../img/wx/laikan/chapter-day-new-bg.jpg);
	.txtbox-item{
		h3{
			color: #666;
		}
	}
	.demo .font-change a{
		border: 1px solid #10c1ae;
	}
	.font-nav{
		span{
			display: block;
			margin: 0 auto;
			width: 20px;
			height: 15.55px;
		}
		.fontSizePlus span{
			background: url('#{$imgurl}/chapter_day_aplus_ico.png') 0 0 no-repeat;
			-webkit-background-size: auto 100%;
			background-size: auto 100%;
		}
		.fontSizeMinus span{
			background: url('#{$imgurl}/chapter_day_asub_ico.png') 0 0 no-repeat;
			-webkit-background-size: auto 100%;
			background-size: auto 100%;
		}
		.fontBulb span{
			background: url('#{$imgurl}/chapter_day_ico.png') 0 0 no-repeat;
			-webkit-background-size: auto 100%;
			background-size: auto 100%;
		}
	}
	.intro .chapter{
		border-right: 1px solid #ccc;
		color: #333;
		i{
			background: #ccc;
			border: 2px solid #eee;
			&.red{
				background: #ccc;
			}
		}
	}
	.font_list{
		border-top: solid 1px #ccc;
		a{
			color: #999;
		}
	}
	.alert-c{
		color: #333;
	}
	.intro div{
		color: #333;
	}
	.blue{
		color: #10c1ae!important;
		display: inline-block;
		font-style: normal;
	}
	.chapter-mod-list li a{
		color: #10c1ae;
		border: 1px solid #10c1ae;
		display:block;
	}
	a.first{
		border: 1px solid #ccc !important;
		color: #999 !important;
		background: #ddd !important;
	}
	.chapter-time{
		border-bottom:solid 1px #e5e5e5;
		color:#999;
	}
	.chapter-mod-div{
		border-top:solid 1px #e5e5e5;
	}
	.chapter_spread li a span{
		color: #666;
	}
	.chapter_ma span{
		background: #ebebeb;
	}
	.chapter-collect{
		float:left;
		margin:1rem 0rem .5rem 1.5rem;
		a{
			padding:2px 8px 3px;
			display: inline-block;
			border-radius: 3px;
			color:#10c1ae;
			border: 1px solid #10c1ae;
		}
	}
	.chapter-app-down{
		border-bottom:solid 1px #ccc;
		a{
			color:#fff;
			background:#10c1ae;
		}
	}
	.chapter_spread li a p.r{
		padding-bottom:1rem;
		border-bottom:solid 1px #ccc;
	}
	.check-book-mod ul li a p{color:#333;}
	.check-book-mod h2{color:#333;}
}

.day-new-status{
	background: url(../../img/mobile/chapter_bg.jpg);
	.chapter-mod-div{
		margin-top:0rem;
		border-top:none;
	}
	.chapter-spread-ma{
		border-bottom:solid 1px #ccc;
		border-top:solid 1px #ccc;
	}
	.chapter-mod-list li a{
		color:#10c1ae;
		border:solid 1px #10c1ae;
	}
	.collent-dialog{
		.chapter-spread-ma{
			border:none;
		}
	}
	.chapter-app-down {
		.chapter-app-text{
			color:#333;
			background:#f6f6f6;
		}
	}
}
.night-status,.night-new-status{
	background: #000 url(../../img/wx/laikan/chapter-night-new-bg.jpg);
	color: #999;
	.txtbox-item h3{
		color: #666;
	}
	.demo .font-change a{
		border: 1px solid #999;
	}
	.font-nav{

		span{
			display: block;
			margin: 0 auto;
			width: 20px;
			height: 15.55px;
		}
		.fontSizePlus span{
			background: url('#{$imgurl}/chapter_night_aplus_ico.png') 0 0 no-repeat;
			-webkit-background-size: auto 100%;
			background-size: auto 100%;
		}
		.fontSizeMinus span{
			background: url('#{$imgurl}/chapter_night_asub_ico.png') 0 0 no-repeat;
			-webkit-background-size: auto 100%;
			background-size: auto 100%;
		}
		.fontBulb span{
			background: url('#{$imgurl}/chapter_nightn_ico.png') 0 0 no-repeat;
			-webkit-background-size: auto 100%;
			background-size: auto 100%;
		}
	}
	.intro .chapter{
		border-right: 1px solid #ccc;
		color: #999;
		i{
			border: 2px solid #eee;
			&.red{
				background: #ccc;
			}
		}
	}
	.font_list{
		border-top: solid 1px #ccc;
	}
	.alert-c{
		color: #999;
	}
	.intro div{
		color: #999;
	}
	.blue{
		color: #ccc!important;
		display: inline-block;
		font-style: normal;
	}
	.chapter-time{
		border-bottom:solid 1px #333;color:#666;
	}
	.chapter-mod-div{
		border-top:solid 1px #333;
	}
	.chapter_spread li a{
		color: #999;
		span{
			color: #999;
		}
	}
	.chapter-mod-list li a{
		color: #10c1ae;
		border: 1px solid #10c1ae;
		display:block;
	}
	a.first{
		border: 1px solid #999 !important;
		background: #666 !important;
		color:#999 !important;
	}
	.chapter_ma {
		border-bottom: solid 1px #333;
		span{
			background: #222;
			color: #999;
		}
		p{
			color: #999;
		}
	}
	.chapter-shelf{
		color: #999;
		a{
			color: #999;
		}
	}

	.chapter_ma_tit{
		border-bottom:solid 1px #333;
	}
	.chapter-collect{
		float:left;
		margin:1rem 0rem .5rem 1.5rem;
		a{
			padding:2px 8px 3px;
			display: inline-block;
			font-size:1.2rem;
			border-radius: 3px;
			border: 1px solid #999;
			color:#999;
		}
	}
	.chapter-app-down{
		border-bottom:solid 1px #333;
		a{
			color:#10c1ae;
			background:none;
		}
	}
	.chapter_spread li a p.r{
		padding-bottom:1rem;
		border-bottom:solid 1px #333;
	}
	.check-book-mod ul li a p{color:#999;}
	.check-book-mod h2{color:#999;}
}
.night-new-status{
	background: #000 url(../../img/wx/laikan/chapter_spread_night_bg.jpg);
	.chapter-app-down{
		border-bottom:solid 1px #999;
	}
	.chapter_spread li a p.r{
		border-bottom:solid 1px #999;
	}
	.txtbox-item h3{
		color: #aaa;
	}
	.chapter-mod-div{
		border-top:none;
		margin-top:0rem;
	}
	.chapter-app-down {
		.chapter-app-text{
			color:#999;
			background:#444;
		}
		a{
			border:solid 1px #10c1ae;
		}

	}
	.chapter-mod-list li a{
		color: #10c1ae;
		border: 1px solid #10c1ae;
	}
	.collent-dialog{
		.chapter-spread-ma{
			border:none;
		}
	}
}

.flexDisplay {
	display: flex;
}

.flex {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.botdownload {
	margin-top: 30px;
}

.botdownload ul li {
	text-align: center;
	margin: 0 1.5rem;
}

.botdownload ul li a {
	position: relative;
	border: 1px solid #10c1ae;
	background: #f2fdff;
	border-radius: 5px;
	padding: 8px 12px;
	box-sizing: border-box;
	font-size: 15px;
	color: #10c1ae;
	display: block;
}

.botdownload ul li a img {
	position: absolute;
	width: 17px;
	height: 20px;
	margin-right: 5px;
}

.botdownload ul li a em {
	margin-left: 22px;
	font-style: normal;
}

.txtbox-item h3.hline,
.hline {
	border-bottom: solid 1px #e5e5e5;
}

.txtbox-item h3 a {
	margin-left: 0;
}

.mobile_foot {
	background: transparent !important;
	border-top: 1px solid #ddd;
}

.night-new-status .chapter-mod-div, .night-status .chapter-mod-div {
	border-top: none;
}

.chapter-mod-div {
	margin-top: 0 !important;
}

.txtbox-item h3 img {
	width: auto;
}

.night-status .mobile_foot {
	border-top: 1px solid #10c1ae;
	color: #10c1ae;
	background: transparent !important;

}

.night-status .mobile_foot a {
	color: #10c1ae !important;
}

.night-status .botdownload ul li a {
	background: transparent !important;

}

.wline {
	border-bottom: 1px solid #10c1ae;
	margin: 0 19px;
	clear: both;
	padding-top: 1rem;
}

.night-status .mobile_foot {
	margin-top: 0;
}

.day-new-status .chapter-mod-div, .day-status .chapter-mod-div {
	border-top: none;
}

.day-status .wline {
	border-bottom: 1px solid #10c1ae;
	margin: 0 19px;
	clear: both;
	padding-top: 2rem;

}

.day-status .mobile_foot {
	margin-top: 0;
}

.day-status .mobile_foot {
	border-top: 1px solid #ddd;
}

.day-status .botdownload ul li a {
	background: #f2fdff;

}

.lk-app-download, .lk-new-user-package-download{
	position: fixed;
	z-index: 100;
	bottom: 0;
	width: 100%;
}
.lk-app-download img, .lk-new-user-package-download img{
	display:block;
	width:100%;
}
.lk-app-download .link, .lk-new-user-package-download .link{
	display: block;
	background: #fff;
	padding: 0;
}
.lk-app-download b{
	position: absolute;
	top: 18.7%;
	display: block;
	width: 10.7%;
	height: 63%;
	left: 0;
}

.lk-app-free-download{
	pointer-events: auto;
	position: fixed;
	z-index: 100;
	bottom: 0;
	width: 100%;
}

.lk-app-free-download img.bg{
	width: 100%;
	display: block;
}
.lk-app-free-download img.book-pic{
	display: block;
	position: relative;
	z-index: 10000000;
	width: 13.33%;
	margin: 0 0 -14% 4%
}

.lk-app-free-download b{
	position: absolute;
	right: 0;
	top: 19px;
	display: block;
	width: 13%;
	height: 30%;
}
.shadow{
	z-index: 200!important;
}




.collent-dialog{
	margin-bottom:1rem;
	display: none;
	background:#fff;
	overflow:hidden;
	.chapter-spread-ma{
		margin: 0;
		padding:1.5rem 1.5rem 1rem;
		border:none;
	}
}
.check-book-mod {
	padding: 0 1.5rem;
	overflow: hidden;
	h2 {
		margin: 1.5rem 0;
		font-size: 1.6rem;
		color: #333;
		img {
			width: 3px;
			height: 16px;
			vertical-align: -2px;
			margin-right: 8px;
		}
	}
	ul li {
		margin: 0 5% 10px 0;
		width: 30%;
		float: left;
		&:last-child{
			margin-right: 0;
		}
		a {
			display: block;
			color: #333;
			text-align:center;
			img {
				width: 100%;
				display: block;
			}
			p {
				margin-top: 7px;
				font-size: 1.4rem;
				height: 1.8rem;
				line-height: 1.8rem;
				color: #757575;
				overflow: hidden;
			}
		}
	}
}


.mobile_foot {
	background: none;
	border-top: solid 1px #dbe0e2;
}
.chapter-mod-div {
	padding: 1rem 1rem 2rem;
	overflow: hidden;
	border-top: none!important;
}
.chapter-mod-list {
	margin-top: 1rem;
	overflow: hidden;
}

//新用户收藏弹框
.newUserCollectTip{
	position: fixed;
	right: 1rem;
	top: 0;
	width: 209px;
	height: 61px;
	background: url(../../img/wx/laikan/icon/bg-collect-to-wechat.png) 0 0 no-repeat;
	-webkit-background-size: 209px 61px;
	background-size: 209px 61px;
	a{
		position: absolute;
		right: 0;
		top: 8px;
		width: 2rem;
		height: 2rem;
		font-size: 0;
	}
}

//新手礼包下载页
.download-new-user-package{
	position: relative;
	padding-bottom: 10.67%;
	.content{
		width: 100%;
	}
	.bg-one{
		padding-bottom: 57.87%;
		background: url(#{$imgurl}/short/bg-download-new-package-01.png) center top no-repeat;
		-webkit-background-size: 100% auto;
		background-size: 100% auto;
	}
	.bg-two{
		position: relative;
		padding-bottom: 61.87%;
		background: url(#{$imgurl}/short/bg-download-new-package-02.png) center top no-repeat;
		-webkit-background-size: 100% auto;
		background-size: 100% auto;
		.pic{
			position: absolute;
			top: 19.6%;
			left: 3.5%;
			width: 11.67%;
			height: 18.86%;
			border-radius: 50%;
		}
		.msg{
			position: absolute;
			width: 58.67%;
			left: 16.93%;
			top: 20.6%;
			color: #aaa;
			font-size: 12px;
			span{
				display: inline-block;
				width: 17.05%;
				font-size: 1.2rem;
				margin-right: 10px;
				vertical-align: -4px;
			}
			i{
				display: inline-block;
				margin-right: 4px;
				width: 30px;
				color: #ffba00;
				text-align: center;
				border: 1px solid #ffba00;
				border-radius: 20%;
			}
		}
	}
	.bg-thr{
		padding-bottom: 53.6%;
		background: url(#{$imgurl}/short/bg-download-new-package-03.png) center top no-repeat;
		-webkit-background-size: 100% auto;
		background-size: 100% auto;
	}
	.bg-four{
		padding-bottom: 52.13%;
		background: url(#{$imgurl}/short/bg-download-new-package-04.png) center top no-repeat;
		-webkit-background-size: 100% auto;
		background-size: 100% auto;
	}
	a.btn-download{
		position: fixed;
		bottom: 0;
		width: 100%;
		padding-bottom: 10.67%;
		background: url(#{$imgurl}/short/bg-btn-download.png) center bottom no-repeat;
		-webkit-background-size: 100% auto;
		background-size: 100% auto;
	}
}
@media screen and (max-width: 320px) {
	.download-new-user-package .bg-two .msg span{
		white-space:nowrap;
		width: 27%;
		overflow:hidden;
		text-overflow:ellipsis;
	}
}
@media screen and (min-width: 321px) and (max-width: 375px){
	.download-new-user-package .bg-two .msg{
		span{
			width: 24%;
			white-space:nowrap;
			overflow:hidden;
			text-overflow:ellipsis;
		}
	}
}
@media (min-width: 375px) {
	.download-new-user-package .bg-two .msg{
		margin-top: 4px;
		span{
			width: 23%;
			white-space:nowrap;
			overflow:hidden;
			text-overflow:ellipsis;
		}
	}
}


//阅读页二维码
.lk-footer{
	margin-top: 0;
	background: none;
}
.focus-qrcode{
	.qrcode{
		img{
			width: 200px;
			height: 200px;
		}
	}
}

.read-action-component{
	position: fixed;
	z-index: 200;
	height: 44px;
}