@charset "utf-8";
.white-bg{background:#fff;}
.chapter-new-bg{
	background: url(../../img/mobile/chapter_bg.jpg);
}
.rechange-ul li a img{width:3.2rem;height:3.2rem;}
.rechange-title{
	padding-left:15px;
	margin-bottom:30px;
	background:#f6f6f6;
	line-height:42px;
	font-size:14px;
}
.rechange-down-app{
	padding-top:20px;
	color:#2be;
	font-size:1.4rem;
	text-align:center;
}
.record-new-ul{
    padding-left: 1.5rem;
	overflow:hidden;
	li{
		display:-webkit-box;
		display:-moz-box;
		display:box;
		padding-top:1.5rem;
		color:#999;
		font-size:1.2rem;
		overflow:hidden;
		.time{
			line-height:4rem;
			padding-right:1rem;
		}
		.record-type{
			padding-bottom:1.5rem;
			-webkit-box-flex:1.0;
			-moz-box-flex:1.0;
			box-flex:1.0;
			border-bottom: solid 1px #ddd;
			dl{
				display:-webkit-box;
				display:-moz-box;
				display:box;
				overflow:hidden;
				dt{
					margin-right:10px;
					background:#6fcae9;
					border-radius: 50%;
					width:4rem;
					height:4rem;
					text-align:center;
					font-size:1.4rem;
					line-height:4rem;
					color:#fff;
					&.refund{
						background:#f56b6b;
					}
					&.rechange{
						background:#64d298;
					}
					&.reward{
						background:#ffac40;
					}
				}
				dd{
					span{
						display:block;
						color:#333;
						font-size:1.4rem;
						padding:6px 0 3px;
					}
					b{
						font-weight:normal;
					}
				}
			}
		}
	}
}
.txtbox-item h3.col{color:#f66;}
.chapter-new-buy{
    margin: 1rem 2rem 0;
    padding:1.5rem 2rem;
    background: #fff;
    border-radius: 6px;
	border-top:none;
	.chapter-titile{
		padding-bottom:10px;
		margin-bottom:15px;
		border-bottom:solid 1px #ddd;
		font-size:1.4rem;
	}
	.chapter-buy-p{
		line-height:2.2rem;
		span{
			color:#f66;
		}
		a{
			color:#2be;
		}
	}
	.chapter-buy-ul {
		margin-top:1.5rem;
		overflow:hidden;
		li{
			width:100%;
			font-size:1.6rem;
		}
	}
	.chapter-auto{
		margin-bottom:0rem;
		padding-bottom:0rem;
	}
}
.rechange-error-mod{
	padding-top:5rem;
	text-align: center;
	img{
		width:130px;
	}
	p{
		padding-top:1rem;
		color:#666;
		font-size:1.4rem;
	}
	a{
		padding:6px 20px;
		margin-top:1rem;
		display:inline-block;
		background: #fff;
		border-radius: 3px;
		font-size:14px;
		color:#2be;
		letter-spacing: 0.1rem;
	}
}
.i-new-cover{
	background:url(../../img/wx/laikan/i-new-bg.jpg);
	background-size:100% 100%;
}