{
  "presets": ["es2015", "stage-2"],
  "plugins": [
      "transform-es2015-arrow-functions",
      "transform-es2015-object-super",
      ['transform-es2015-classes', {loose: true}],
      "transform-runtime",
      "transform-es2015-block-scoping"
  ],
  "comments": false
}

