$loading-cover-bg: rgba(255, 255, 255, 0.95) !default;
$loading-cover-bar-size: 25px !default;
$loading-cover-bar-color: #00b38a !default;


.loading-cover {
  display: block !important;
  flex: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: $loading-cover-bg;
  opacity: 1;
  z-index: 20;

  transition: opacity .3s ease;
  &.hide {
    opacity: 0;
  }
  &.vanish {
    z-index: -1;
  }
  &.cover {
    opacity: 1;
  }
  .loading-cover-inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    text-align: center;
    width: 100px;
    height: 60px;
  }
  .loading-cover-text {
    margin-top: 10px;
    @extend .font-size-14px;
  }
  .loading-cover-bar {
    animation-duration: .75s;
    animation-iteration-count: infinite;
    animation-name: rotate-forever;
    animation-timing-function: linear;
    width: $loading-cover-bar-size;
    height: $loading-cover-bar-size;
    border: 5px solid $loading-cover-bar-color;
    border-right-color: transparent;
    border-radius: 50%;
    display: inline-block;
  }
}