.filter-button-group {
  text-align: right;
  .btn {
    margin-right: $filter-button-group-spacing;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}