.modal {
  .modal-header {
    .modal-icon {
      margin-right: $spacing-small;
    }
    .modal-text {
      margin-bottom: 0;
      @extend .font-size-12px;
    }
  }

  &.fade-scale .modal-dialog {
    transform: scale(0);
    opacity: 0;
    transition: transform .3s ease-out, opacity .3s ease-out;
  }

  &.in .modal-dialog {
    opacity: 1;
    transform: scale(1);
  }

}

.modal-content {
  border-radius: 0;
  border: none;
}