.nav-justified {
  width: 100%;
  border-bottom: none;
  .nav-item {
    float: none;
    display: table-cell;
    width: 1%;
    text-align: center;
  }
}

.nav-link {
  cursor: pointer;
  @include transition(background-color .2s ease);
}

.nav-pills .nav-link:hover {
  background: $nav-pills-hover-bg;
}