.table {
  @extend .font-size-14px;
  thead th {
    border-top: none;
  }

  td .link {
    color: $main-color;
    &:hover {
      text-decoration: underline;
    }
  }

  &.vm td {
    vertical-align: middle;
  }
}