@mixin scrollbar {
  &::-webkit-scrollbar {
    @content;
  }
}

@mixin scrollbar-track {
  &::-webkit-scrollbar-track {
    @content;
  }
}

@mixin scrollbar-thumb {
  &::-webkit-scrollbar-thumb {
    @content;
  }
}

@mixin scroll($bg: none, $size: 5px, $thumbColor: #e6e6e6){
  @include scrollbar-track {
    background: $bg;
  }
  @include scrollbar {
    width: $size;
  }
  @include scrollbar-thumb {
    background: $thumbColor;
    opacity: .5;
    border-radius: 3px;
  }
}

@mixin max-line($number: 2, $line-height: 1.6em) {
  overflow: hidden;
  line-height: $line-height;
  height: $line-height*$number;
  text-overflow: ellipsis;
  @if $number == 1 {
    white-space: nowrap;
  }
}

@mixin limit-height($height: 200px ){
  max-height: $height;
  overflow-y: auto;
  @include scroll();
}