@mixin scrollbar {
  &::-webkit-scrollbar {
    @content;
  }
}

@mixin scrollbar-track {
  &::-webkit-scrollbar-track {
    @content;
  }
}

@mixin scrollbar-thumb {
  &::-webkit-scrollbar-thumb {
    @content;
  }
}

@mixin scroll($bg: none, $size: 5px, $thumbColor: #e6e6e6){
  @include scrollbar-track {
    background: $bg;
  }
  @include scrollbar {
    width: $size;
  }
  @include scrollbar-thumb {
    background: $thumbColor;
    opacity: .5;
    border-radius: 3px;
  }
}