.top-header {
  position: fixed;
  left: $sidebar-width;
  top: 0;
  right: 0;
  height: $header-height;
  z-index: 1;
  background: $header-bg;
  border-bottom: $header-border-bottom;
  padding: 0 $spacing;

  @extend %vm-grid;

  .drawer .handle {
    display: inline-block;
    width: $drawer-size;
    height: $drawer-size;
    line-height: $drawer-size;
    text-align: center;
    background: $main-color;
    color: #fff;
    border-radius: 4px;
    border: 1px solid darken($main-color, 1%);
  }

  .accounts {
    @extend .font-size-12px;
    .name {
      margin-right: $spacing-small;
    }
  }

}