.top-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: $header-height;
  z-index: 500;
  background: $header-bg;

  padding: 0;

  .navbar-brand {
    float: left;
    width: $sidebar-width;
    line-height: $header-height;
    background: $sidebar-bg;
    text-align: center;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    &, a {
      color: $header-brand-color;
    }
  }

  .drawer {
    padding-left: $spacing-small;
  }

  .navbar-nav {
    padding-right: $spacing;
    border-bottom: 1px solid darken($header-bg, 5%);
  }

  .handle {
    display: inline-block;
    padding: 0 .7rem;
    height: $drawer-size;
    line-height: $drawer-size;
    text-align: center;
    background: $main-color;
    color: #fff;
    border-radius: 3px;
    border: 1px solid darken($main-color, 1%);
    cursor: pointer;
    .icon {
      @include transition(transform 200ms ease);
    }
  }

  .top-nav {
    position: relative;
    @extend .font-size-14px;
    .nav-item > a {
      color: lighten($body-color, 30%);
      padding: 0 $spacing-small;
      line-height: $header-height;
      &:hover {
        color: $body-color;
      }
    }

    .dropdown-menu {
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.09);
      &::before, &::after {
        content: '';
        position: absolute;
        left: auto;
        display: inline-block;
      }
      &::before {
        top: -16px;
        right: 9px;
        border: 8px solid transparent;
        border-bottom-color: rgba(0,0,0,0.15);
      }
      &::after {
        top: -14px;
        right: 10px;
        border: 7px solid transparent;
        border-bottom-color: #fff;
      }
    }
  }
}