@mixin pad-screen {
  .top-header {
    background: $header-brand-bg;
    color: $gray-light;
    .navbar-brand {
      display: none;
    }
    .drawer {
      padding-left: 0;
    }
    .handle {
      height: $header-height;
      line-height: $header-height;
      border-radius: 0;
      padding: 0 $spacing;
    }
  }
  .primary-sidebar {
    left: -$sidebar-width;
  }
  .main {
    margin-left: 0;
  }
}

@mixin float-sidebar {
  .top-header {
    .drawer .icon {
    transform: rotateZ(90deg);
    }
  }
  .primary-sidebar {
    left: 0;
    .navbar-brand {
      display: block;
    }
  }
}

@mixin web-screen {
  .primary-sidebar {
    width: $sidebar-width;
  }
  .main {
    margin-left: $sidebar-width;
  }
}

@mixin hide-sidebar {
  .primary-sidebar {
    left: -$sidebar-width;
  }
  .main {
    margin-left: 0;
  }
  .top-header {
    .navbar-brand {
      display: none;
    }
  }
}

.wrap {
  &.web-screen {
    @include web-screen;
  }

  @include breakpoint($pad) {
    @include pad-screen;
  }

  &.pad-screen {
    @include pad-screen;
  }

  &.pad-screen.float-sidebar {
    @include float-sidebar;
  }

  &.web-screen.hidden-sidebar {
    @include hide-sidebar;
  }
}