.primary-sidebar {
  position: fixed;
  top: $header-height;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: $sidebar-width;
  background: $sidebar-bg;
  padding-bottom: $spacing-bigger;
  transition: left 300ms ease;

  display: flex;
  flex-flow: column;

  nav {
    position: relative;
    height: 100%;
  }

  .nav {
    @extend .font-size-14px;
    > .nav-item::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0;
      z-index: 1;
      transition: width 200ms ease, background-color 200ms ease;
    }

    > .nav-active {
      background-color: $sidebar-openMenu-bg;
      > .nav-link {
        color: #fff!important;
      }
      &::before {
        width: $sidebar-openMenu-border-width;
        background-color: $sidebar-openMenu-border-color;
      }
    }

    > .nav-item > .nav-sub-list {
      .nav-link {
        padding-left: $spacing + $sidebar-icon-width;
      }
    }
  }

  nav {
    height: 100%;
    overflow-y: auto;
    @include scroll($thumbColor: lighten($sidebar-bg, 15%));
  }

  .nav-open {
    background-color: $sidebar-openMenu-bg;
  }

  .nav-category {
    padding: $spacing-big $spacing $spacing $spacing-big;
    @extend .font-size-16px;
    color: $sidebar-category-color;
  }

  .nav-item {
    position: relative;
    margin-bottom: 2px;
  }

  .nav-link {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    padding: $spacing $spacing $spacing-small $spacing;
  }

  .nav-link, .nav-link:not([href]):not([tabindex]) {
    color: $sidebar-color;
    &:hover {
      color: lighten($sidebar-color, 10%);
      background: darken($sidebar-bg, 2%);
    }
  }

  .nav-icon {
    display: inline-block;
    width: $sidebar-icon-width;
  }

  .nav-active, .nav-open {
    > .nav-link::after {
      transform: rotate(-90deg);
    }
  }

  .nav-group > .nav-link {
    &::after {
      content: "\f104";
      font-family: FontAwesome;
      position: absolute;
      right: 16px;
      top: 40%;
      display: inline-block;
      width: 15px;
      height: 15px;
      line-height: 1;
      font-size: 14px;
      text-align: center;
      color: #888;
      transition: transform 200ms ease;
    }
  }

  .nav-sub-list {
    display: none;
    .nav-active > a {
      color: #fff;
    }
  }
}

.ps-theme-primary-sidebar {
  @include ps-container(map-merge($ps-theme-default, (
    bar-bg: transparent,
    bar-hover-bg: #53586d,
    bar-container-hover-bg: #464e71,
    rail-hover-bg: transparent,
    scrollbar-y-hover-width: $ps-scrollbar-y-width
  )));
}