@mixin rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100%  {
    transform: rotate(360deg);
  }
}

@keyframes rotate-forever { @include rotate-forever; }

.rotate-forever {
  animation-duration: .75s;
  animation-iteration-count: infinite;
  animation-name: rotate-forever;
  animation-timing-function: linear;
}