$range-slider-fill-radius: 10px !default;
$range-slider-height: 6px !default;
$range-slider-width: 10px !default;
$range-slider-disabled-opacity: .4 !default;
$range-slider-fill-bg: #3AAF7A !default;
$range-slider-handle-bg: white !default;

$range-slider-handle-border-size: 1px !default;
$range-slider-handle-border-color: #ccc !default;
$range-slider-handle-size: 20px !default;
$range-slider-handle-shadow: 0 0 8px rgba(0, 0, 0, 0.3) !default;


.rangeslider,
.rangeslider__fill {
  display: block;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: $range-slider-fill-radius;
}

.rangeslider {
  background: #e6e6e6;
  position: relative;
}

.rangeslider--horizontal {
  height: $range-slider-height;
  width: 100%;
}

.rangeslider--vertical {
  width: $range-slider-width;
  min-height: 150px;
  max-height: 100%;
}

.rangeslider--disabled {
  opacity: $range-slider-disabled-opacity;
}

.rangeslider__fill {
  background: $range-slider-fill-bg;
  position: absolute;
}

.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}

.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  background: $range-slider-handle-bg;
  border: $range-slider-handle-border-size solid $range-slider-handle-border-color;
  cursor: pointer;
  display: inline-block;
  width: $range-slider-handle-size;
  height: $range-slider-handle-size;
  position: absolute;
  @include background-image(linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1)));
  box-shadow: $range-slider-handle-shadow;
  border-radius: 50%;

  &::after {
    content: "";
    display: block;
    width: ($range-slider-handle-size/2 - $range-slider-handle-border-size*2);
    height: ($range-slider-handle-size/2 - $range-slider-handle-border-size*2);
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include background-image(linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0)));
    border-radius: 50%;
  }

  &:active {
    @include background-image(linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12)));
  }
}

.rangeslider--horizontal .rangeslider__handle {
  top: -$range-slider-height;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -$range-slider-width;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}
