.form {
  &.form-inline {
    .form-group {
      margin: 0 10px;
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &.form-no-label {
    .form-group > label {
      display: none;
    }
  }

  &.clear-last {
    .form-group:last-of-type {
      margin-bottom: 0;
    }
  }
}

.form-inline {
  .flatpickr-input[mode=range] {
    min-width: 240px;
  }
}

.flatpickr-calendar {
  left: 0;
  top: 0;
}