.flyout-confirm {
  .text {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background: $flyout-confirm-bg-color;
    @extend .font-size-14px;
    text-align: center;
  }
  .buttons {
    padding: .5rem;
    text-align: center;
    .btn {
      margin-right: 5px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}