.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1100;
  background: rgba(0, 0, 0, .6);
  @include transition(opacity .5s ease);
  &.hide {
    display: none;
  }
  .inner {
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 46%;
    font-size: 1.4rem;
  }
  p {
    margin-top: 15px;
    color: #fff;
  }
}

.loader {
  animation: loader 3s cubic-bezier(.8,0,.2,1) infinite;
  height: 40px;
  width: 41px;
  display: inline-block;
  $color: #ffc444;
  .top {
    animation: top 3s linear infinite;
    border-top: 20px solid $color;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    height: 0px;
    width: 1px;
    transform-origin: 50% 100%;
  }
  .bottom {
    animation: bottom 3s linear infinite;
    border-right: 20px solid transparent;
    border-bottom: 20px solid $color;
    border-left: 20px solid transparent;
    height: 0px;
    width: 1px;
    transform: scale(0);
    transform-origin: 50% 100%;
  }
  .line {
    animation: line 3s linear infinite;
    border-left: 1px dotted $color;
    height: 0px;
    width: 0px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}
@keyframes loader {
  90% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}

@keyframes top {
  90% { transform: scale(0); }
  100% { transform: scale(0);}
}

@keyframes bottom {
  10% { transform: scale(0); }
  90% { transform: scale(1); }
  100% { transform: scale(1); }
}

@keyframes line {
  10% { height: 20px; }
  100% { height: 20px; }
}