$spacing: 15px;
$spacing-big: 20px;
$spacing-small: 10px;
$spacing-micro: 5px;
$spacing-bigger: 30px;

$main-color: #00b38a;

//header
$header-height: 46px;
$header-bg: #f8f8f8;
$header-border-bottom: 1px solid #e7eaec;
$drawer-size: 28px;

//sidebar
$sidebar-bg: #252a40;
$sidebar-width: 240px;
$sidebar-color: #949494;
$sidebar-active-bg: $main-color;
$sidebar-active-color: white;
$sidebar-category-color: #404769;
$sidebar-subItem-color: #b8b8b8;
$sidebar-subItem-bg: #1b1f30;
$sidebar-openMenu-bg: #202438;
$sidebar-openMenu-border-color: $main-color;
$sidebar-openMenu-border-width: 3px;
$sidebar-icon-width: 30px;

//toobar
$toolbar-bg: #fcfcfc;
$toolbar-border-bottom: 1px solid rgba(0,0,0,.07);
$title-color: #5b5b60;

//overwrite bootstrap;

$body-bg: #F0F3F4;
$body-color: #56565d;

$link-color: #666;
$link-hover-decoration: none;

$breadcrumb-bg: none;

$card-border-radius: 0;
$card-border-width: 0;
$card-border-color: rgba(0,0,0,.07);
$card-cap-bg: transparent;

$gray-lighter: #999;
//$nav-tabs-border-radius: 0;
//$nav-tabs-border-width: 0;
$nav-tabs-active-link-hover-bg: #fff;
//
//$nav-tabs-bg: #f9f9f9;
//$nav-link-hover-bg: #f1f1f1;

$table-border-width: .5px;
$table-border-color: #e2e2e4;