$amchart-colors: #ff6600 #ff9e01 #fcd202 #f8ff01 #b0de09 #04d215 #0d8ecf #0d52d1 #2a0cd0 #8a0ccf #cd0d74 #cd0d74 #754deb #dddddd #999999 #333333 !default;

$chartjs-colors: #5eb5ef #ffd778 #ff829d #6fcdcd #ecedf1 !default;

$data-hero-simple: #47acb1 #f26522 #f9aa7b #a5a8aa #676766 #add5d7 #ffe8af #ffcd34 !default;

$data-hero-2: #b565a3 #808472 #ebd3e0 #8b6d5a #e0db25 !default;

$data-hero-3: #ce575c #f7a5a1 #9a9a99 #6d6e63 #db811a #d5bd84 !default;

$data-hero-robin: #e5d871 #db4748 #4da57f #b8202c #efcb1e #4e9fa5 #286c4f!default;

$can-stock: #c45527 #febc10 #4697aa #a3d2d8 #414745 !default;

$color-chart-1: #F9E79F #58D68D #5DADE2 #D5DBDB #34495E #A569BD !default;

$color-chart-2: #f3595d #78c466 #579ad6 #fca853 #9f65ad #d07054 #d97db5 #737373 !default;