.highcharts-crosshair-category {
  stroke-opacity: 0.25;
}
.highcharts-tooltip-box {
  stroke-width: 1px;
  fill-opacity: 0.85;
}

.highcharts-selection-marker {
  fill-opacity: 0.25;
}
/* Legend hover affects points and series */
g.highcharts-series, .highcharts-point {
  transition: opacity 250ms;
}
.highcharts-legend-series-active g.highcharts-series:not(.highcharts-series-hover),
.highcharts-legend-point-active .highcharts-point:not(.highcharts-point-hover) {
  opacity: 0.2;
}

.highcharts-area {
  fill-opacity: 0.75;
  stroke-width: 0;
}
.highcharts-halo {
  fill-opacity: 0.25;
  stroke-width: 0;
}
.highcharts-column-series .highcharts-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms;
}

.highcharts-pie-series .highcharts-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms;
}
.highcharts-funnel-series .highcharts-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms;
}
.highcharts-pyramid-series .highcharts-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms;
}
.highcharts-treemap-series .highcharts-point {
  stroke-width: 1px;
  transition: stroke 250ms, fill 250ms, fill-opacity 250ms;
}
.highcharts-treemap-series .highcharts-point-hover {
  transition: stroke 25ms, fill 25ms, fill-opacity 25ms;
}

.highcharts-treemap-series .highcharts-above-level {
  display: none;
}
.highcharts-treemap-series .highcharts-internal-node {
  fill: none;
}
.highcharts-treemap-series .highcharts-internal-node-interactive {
  fill-opacity: 0.15;
  cursor: pointer;
}
.highcharts-treemap-series .highcharts-internal-node-interactive:hover {
  fill-opacity: 0.75;
}
/* Loading */
.highcharts-loading {
  position: absolute;
  opacity: 0.5;
  text-align: center;
  z-index: 10;
  transition: opacity 250ms;
}
.highcharts-loading-hidden {
  height: 0 !important;
  opacity: 0;
  overflow: hidden;
  transition: opacity 250ms, height 250ms step-end;
}
/* Plot bands and polar pane backgrounds */
.highcharts-plot-band {
  fill-opacity: 0.05;
}
.highcharts-plot-line {
  fill: none;
  stroke-width: 1px;
}
.highcharts-bubble-series .highcharts-point {
  fill-opacity: 0.5;
}
/* Highstock */
.highcharts-navigator-mask {
  fill-opacity: 0.25;
}
.highcharts-navigator-mask-inside {
  fill-opacity: 0.25;
  cursor: ew-resize;
}
.highcharts-navigator-series .highcharts-area {
  fill-opacity: 0.05;
}

/* Highmaps */
.highcharts-map-series .highcharts-point {
  transition: fill 500ms, fill-opacity 500ms, stroke-width 250ms;
}
.highcharts-map-series .highcharts-point-hover {
  transition: fill 0ms, fill-opacity 0ms;
  fill-opacity: 0.5;
  stroke-width: 2px;
}