$spacing: 15px !default;
$spacing-big: 20px !default;
$spacing-small: 10px !default;
$spacing-micro: 5px !default;
$spacing-bigger: 30px !default;

$main-color: #00b38a !default;

//header
$header-height: 46px !default;
$header-bg: #f8f8f8 !default;
$header-border-bottom: 1px solid #e7eaec !default;
$drawer-size: 28px !default;

//sidebar
$sidebar-bg: #252a40 !default;
$sidebar-width: 240px !default;
$sidebar-color: #949494 !default;
$sidebar-active-bg: $main-color !default;
$sidebar-active-color: white !default;
$sidebar-category-color: #404769 !default;
$sidebar-subItem-color: #b8b8b8 !default;
$sidebar-subItem-bg: #1b1f30 !default;
$sidebar-openMenu-bg: #202438 !default;
$sidebar-openMenu-border-color: $main-color !default;
$sidebar-openMenu-border-width: 3px !default;
$sidebar-icon-width: 30px !default;

//toobar
$toolbar-bg: #fcfcfc !default;
$toolbar-border-bottom: 1px solid rgba(0,0,0,.07) !default;
$title-color: #5b5b60 !default;

//overwrite bootstrap !default;

$body-bg: #F0F3F4 !default;
$body-color: #56565d !default;

$link-color: #666 !default;
$link-hover-decoration: none !default;

$breadcrumb-bg: none !default;

$card-border-radius: 0 !default;
$card-border-width: 0 !default;
$card-border-color: rgba(0,0,0,.07) !default;
$card-cap-bg: transparent !default;

$gray-lighter: #999 !default;
//$nav-tabs-border-radius: 0 !default;
//$nav-tabs-border-width: 0 !default;
$nav-tabs-active-link-hover-bg: #fff !default;
//
//$nav-tabs-bg: #f9f9f9 !default;
//$nav-link-hover-bg: #f1f1f1 !default;

$table-border-width: .5px !default;
$table-border-color: #e2e2e4 !default;