%none-underline {
  text-decoration: none;
}

%title-font {
  font-family: 'Open Sans', 'Droid Sans', Tahoma, Arial, sans-serif;
}

%ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

%word-break {
  word-break: break-all;
  word-wrap: break-word;
}

%pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

%mod {
  &, .hd, .bd {
    position: relative;
  }
}

%f1 {
  @include flex(1);
}

%grid {
  @include display(flex);
  @include flex-flow(row);
}

%vm-grid {
  @extend %grid;
  @include align-items(center);
  @include justify-content(center);
}